.login-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: auto;
  }
  .login-form input, .login-form button {
    margin-bottom: 10px;
    padding: 8px;
  }
  
.error-message{
    text-align: center;
    color: red;
    font-size: 25px;
}